.carousel-control-prev, .carousel-control-next {
	color: aqua;
}

.carousel-control-prev-icon {
	color: aqua;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
}

.bg-dark {
	background-color:rgba(0, 24, 70, 0.85) !important;
}

.navbar-dark .navbar-brand {
	color: #ffa600;
    font-size: 3em;

}

.navtogglemenu{
    font-size: 50px;
}

.navbar-dark .navbar-brand:hover {
	color: bisque;
}

.navbar-dark .navbar-nav .nav-link {
	text-transform: uppercase;
	color: #e6e6e6;
	letter-spacing: .08em;
    font-size: 1.5em;
    padding: 20px;
}

.food {
	background-image: url(../img/foodmenu.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
}

.food h1 {
	background: rgba(255, 255, 255, 0.56);
	font-size: 6em;
	text-align: center;
	margin: 2em;
}

.breadcrumb {
    padding-top: 20px;
    padding-bottom: 20px;

}

.MenuBold {

    font-weight: bold;
    padding-bottom: 10px;
    color: #FFA600;
    font-size: 25px;
}

.MenuFood {
    font-weight: bold;
    padding-top: 10px;
    font-size: 20px;
    color:#000000;
}

.MenuSub {
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 10px;
}

.MenuSection {

    padding-bottom: 40pxpx
}

.hr{
    border:0;
    margin:1;
    width:100%;
    height:2px;
    background:#404040;
}

.HomepageHr {

    border:0;
    margin:1;
    width:100%;
    height:3px;
    background:#FFA600;
}
.gluenfree_vegan {
    color: #FFA600;
    font-size: 18px;
    font-weight: bold;
}

.navtogglemenu a{

    color: #001846;
    font-weight: bolder;
    font-size: 34px;

}

.HomeAdressHours {
    font-size: 40px;
    text-align: center;
    color:#292929;
}

.list-unstyled {
    text-align: center;

}

.menuhours {
    color: black;
    font-size: 18px;

}

.DaysOftheWeek {
    padding: 10px;
}

.NameOfResturaunt-Adress {
    font-weight:500;

    font-size: 20px;
}

/*This is the start of the footer*/

.footer-basic-centered {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 45px;
    margin-top: 80px;
}

footer {
    display: block;
}

.footer-company-motto{

    color: white;
    font-family: inherit;
    font-size: 25px;
}

.footer-company-name{
    color: white;
    font-family: inherit;
}

.a-footer-tag{
    color: white;
    margin: 10px;
}






